#memeChoiceOne {
  background-image: url("Resources/catImageOne.jpg");
  background-size: cover;
  height: 200px;
  width: 240px;
}

#memeChoiceOne:hover {
  border-color: chartreuse;
  border-width: 3px;
}

#memeChoiceTwo {
  background-image: url("Resources/catImageTwo.jpg");
  background-size: cover;
  height: 200px;
  width: 240px;
}

#memeChoiceTwo:hover {
  border-color: chartreuse;
  border-width: 3px;
}

#memeChoiceThree {
  background-image: url("Resources/catImageThree.jfif");
  background-size: cover;
  height: 200px;
  width: 240px;
}

#memeChoiceThree:hover {
  border-color: chartreuse;
  border-width: 3px;
}

#memeChoiceFour {
  background-image: url("Resources/catImageFour.jfif");
  background-size: cover;
  height: 200px;
  width: 240px;
}

#memeChoiceFour:hover {
  border-color: chartreuse;
  border-width: 3px;
}

#memeChoiceFive {
  background-image: url("Resources/catImageFive.jpg");
  background-size: cover;
  height: 200px;
  width: 240px;
}

#memeChoiceFive:hover {
  border-color: chartreuse;
  border-width: 3px;
}

#memeChoiceSix {
  background-image: url("Resources/catImageSix.jpg");
  background-size: cover;
  height: 200px;
  width: 240px;
}

#memeChoiceSix:hover {
  border-color: chartreuse;
  border-width: 3px;
}

#createdMeme {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  font-size: 40px;
  -webkit-text-stroke: 2px black;
  position: relative;
  text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

#topText {
  left: 0;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 100%;
}

#bottomText {
  position: absolute;
  text-align: center;
  bottom: -5px;
  width: 100%;
}

h1 {
  font-family: "Cat Font";
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: 60px;
  background-color: slategray;
  line-height: 150px;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

@font-face {
  font-family: "Cat Font";
  src: url("Resources/Cat\ Font.ttf");
}

#APIstuff {
  display: flex;
  flex-direction: row;
}

#catFact {
  flex: 0 1 32.5%;
  margin-left: auto;
  margin-right: auto;
  background-color: grey;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  font-size: large;
  text-align: center;
  padding-top: 200px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#catPic {
  flex: 0 1 33%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  background-size: contain;
  background-color: grey;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#catGif {
  flex: 0 1 33%;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  width: 500px;
  background-size: contain;
  background-color: grey;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#factButton,
#randomPic,
#randomGif {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 33%;
  background-color: blue;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 50px;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  margin-bottom: 5px;
}

#factButton:hover,
#randomPic:hover,
#randomGif:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

#buttonsOne {
  display: flex;
  flex-direction: row;
}

#buttonsTwo {
  display: flex;
  flex-direction: row;
}

#EUcats,
#homeCats {
  margin-top: 10px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 45%;
  background-color: blue;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 50px;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  margin-bottom: 5px;
}

#EUcats:hover,
#homeCats:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

#statistics {
  display: flex;
  flex-direction: row;
}

#EUstats,
#homeStats {
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex: 0 1 45%;
  background-color: lightgrey;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 50px;
  background-color: blue;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#meme:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

#memeEnter {
  display: inline-block;
  margin-left: 300px;
  margin-right: auto;
  margin-top: 20px;
}

#memeTop,
#memeBottom {
  height: 50px;
  width: 300px;
  background-color: lightskyblue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: slategray;
  text-align: center;
  font-size: large;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#createMeme {
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 35px;
  background-color: blue;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#createMeme:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

body {
  background-color: lightcyan;
}

#imagePick {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 50px;
  margin-top: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: blue;
}

#createdMeme {
  margin-top: 30px;
}

#anotherMeme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 35px;
  background-color: blue;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#anotherMeme:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

#catVideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 35px;
  background-color: blue;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#catVideo:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

#catVideoChoice {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#catPost {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 35px;
  background-color: blue;
  font-size: larger;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
}

#catPost:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

#post {
  position: relative;
  margin-top: 20px;
}

#faceBook {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}

#catImagePost {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: block;
  margin: auto;
  border-color: lightgrey;
  border-width: 20px;
  border-style: solid;
}

#comments {
  position: absolute;
  width: 100%;
  left: 0;
  top: 650px;
}

#commentOne,
#commentTwo,
#commentThree {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  text-align: left;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  height: 50px;
  width: 300px;
}

.tag {
  color: blue;
}
