h1 {
  background-color: navy;
  text-align: center;
  line-height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  color: white;
}

body {
  background-color: lightslategray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  background-color: navy;
  text-align: center;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#flexhold {
  display: flex;
  flex-direction: row;
}

#summary {
  flex: 0 1 20%;
  text-align: center;
  margin-top: 25px;
  background-color: lightsteelblue;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#courses {
  flex: 0 1 55%;
  text-align: center;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  background-color: lightgray;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#lang {
  flex: 0 1 20%;
  text-align: center;
  margin-top: 25px;
  background-color: lightyellow;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

a {
  color: lightskyblue;
  font-size: 20px;
}

a:hover {
  color: red;
}
