body {
  height: 100%;
  background-image: url("https://cdn131.picsart.com/341608237014211.png");
  background-size: cover;
}

#startButton {
  margin-top: 200px;
  display: block;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 300px;
  font-size: 50px;
  font-family: amongus-title;
  text-transform: uppercase;
  transition-duration: 0.4s;
  background-color: white;
}

#startButton:hover {
  background-color: red;
  color: white;
  cursor: pointer;
}

#pick {
  font-size: 50px;
  font-family: amongus-title;
  color: white;
  text-align: center;
  text-transform: uppercase;
}

/* USE GRID */
#characterOne {
  background-image: url("Resources/characterOne.png");
  height: 277px;
  width: 237px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

#characterOne:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#characterTwo {
  background-image: url("Resources/characterTwo.png");
  height: 277px;
  width: 237px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

#characterTwo:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#characterThree {
  background-image: url("Resources/characterThree.png");
  height: 277px;
  width: 237px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

#characterThree:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#characterFour {
  background-image: url("Resources/characterFour.png");
  height: 277px;
  width: 237px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

#characterFour:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#characterFive {
  background-image: url("Resources/characterFive.png");
  height: 277px;
  width: 237px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

#characterFive:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#characterSix {
  background-image: url("Resources/characterSix.png");
  height: 277px;
  width: 237px;
  background-size: cover;
  margin-left: 5px;
  margin-right: 5px;
}

#characterSix:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#downloadButton {
  left: 50%;
  top: 65%;
  position: absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height: 75px;
  width: 250px;
  background-color: lightgrey;
  border-radius: 8px;
  font-size: larger;
}
#downloadButton:hover {
  background-color: darkgray;
  cursor: pointer;
}

#profile {
  font-family: amongus;
  font-size: 50px;
  text-transform: uppercase;
}

#chat {
  background-color: rgb(169, 169, 169, 0.5);
  width: 1300px;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

#otherCommentOne {
  background-image: url("Resources/blackChat.png");
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;
  padding-top: 30px;
  height: 75px;
  width: 1000px;
  display: block;
  border-radius: 8px;
  font-family: chatFont;
  background-size: cover;
  font-size: 35px;
}

#otherCommentTwo {
  background-image: url("Resources/blackChat.png");
  margin-top: 30px;
  margin-left: 15px;
  text-align: center;
  padding-top: 30px;
  height: 75px;
  width: 1000px;
  display: block;
  border-radius: 8px;
  font-family: chatFont;
  background-size: cover;
  font-size: 35px;
}

#chatBox {
  display: block;
  text-align: center;
  margin-left: 25px;
  width: 1000px;
  height: 60px;
  border-radius: 8px;
  margin-top: 375px;
  font-size: 20px;
}

#chatButton {
  float: right;
  background-image: url("https://static.vecteezy.com/system/resources/previews/001/186/944/non_2x/blue-arrow-button-png.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: -60px;
  margin-right: 175px;
  border-radius: 8px;
}

#myComment {
  margin-top: 30px;
  margin-left: 150px;
  text-align: center;
  padding-top: 30px;
  height: 85px;
  width: 1000px;
  display: block;
  border-radius: 8px;
  font-family: chatFont;
  background-size: cover;
  font-size: 35px;
  padding-right: 110px;
}

#voteButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  height: 75px;
  width: 200px;
  border-radius: 8px;
  font-size: larger;
}

#voteButton:hover {
  cursor: pointer;
  background-color: red;
}

#meetingButton {
  background-image: url("Resources/emergencyButton.jpg");
  width: 374px;
  height: 374px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

#meetingButton:hover {
  cursor: pointer;
  border-width: medium;
  border-color: greenyellow;
}

#sabotageButton {
  background-image: url("Resources/sabotage.jpg");
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 200px;
}

#sabotageButton:hover {
  cursor: pointer;
  border-width: medium;
  border-color: red;
}

#killButton {
  background-image: url("Resources/kill.jpg");
  height: 150px;
  width: 150px;
  background-size: cover;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 200px;
}

#killButton:hover {
  cursor: pointer;
  border-width: medium;
  border-color: red;
}

.blink {
  background-color: red;
  background-image: none;
}

#bodyReport {
  margin-top: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#imposterWin {
  position: relative;
  top: 0;
  left: 0;
}

@font-face {
  font-family: amongus-title;
  src: url(Resources/AmongUs-Regular.ttf);
}

@font-face {
  font-family: amongus;
  src: url(Resources/amongus.ttf);
}

@font-face {
  font-family: chatFont;
  src: url(Resources/chatFont.ttf);
}
