html { 
  background: url('images/5701.JPEG') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#amogus 
{
  color: white;
}
