h1 {
  background-color: navy;
  text-align: center;
  line-height: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 43px;
  color: white;
  margin-top: 0px;
}

footer {
  background-color: navy;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  margin-top: 0px;
  line-height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}

#ref {
  padding-top: 20px;
  font-size: 35px;
}

#mySidenav div {
  position: fixed;
  left: -90px;
  transition: 0.3s;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  color: white;
  border-radius: 0 5px 5px 0;
  height: 50px;
}

#mySidenav div:hover {
  left: 0;
  height: 150px;
}

#about {
  top: 15px;
  text-align: left;
  background-color: lightgray;
  height: 50px;
  text-align: left;
  font-size: 15px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#about .options {
  top: 15px;
  background-color: lightgray;
  height: 20px;
  line-height: 10px;
  font-size: 20px;
  margin-left: 90px;
  font-size: 20px;
  line-height: 10px;
  color: darkgray;
}

.flexdisplay {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.flexdisplayDif {
  display: flex;
  flex-direction: row;
  margin-top: -50px;
}

#stem {
  flex: 0 1 25%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

#stemSum {
  padding-top: 80px;
  padding-right: 30px;
  padding-left: 30px;
  flex: 0 1 45%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-align: center;
  background-color: lightgray;
  background-size: contain;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 10px 20px 30px 0;
}

#identSum {
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  flex: 0 1 45%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
  text-align: center;
  background-color: lightgray;
  background-size: contain;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 10px 20px 30px 0;
}

#inter {
  flex: 0 1 25%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-color: darkgray;
}

#research {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#researchSum {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  padding-right: 350px;
  padding-left: 350px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  background-color: lightgray;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}

#wages {
  flex: 0 1 22%;
  text-align: left;
  margin-top: 25px;
  background-color: lightsteelblue;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  font-size: large;
  background-image: url("https://www.quickanddirtytips.com/sites/default/files/styles/article_main_image/public/images/16636/wages-singular-plural.jpg?itok=bZUyF1bf");
  background-size: contain;
  color: transparent;
}

#wages:hover {
  background-image: none;
  color: black;
}

#norms {
  padding: 30px;
  padding-top: 140px;
  flex: 0 1 42%;
  text-align: center;
  margin-top: 25px;
  font-size: large;
  background-color: lightsteelblue;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  margin-right: auto;
  margin-left: auto;
  background-image: url("https://thumbs.dreamstime.com/b/norms-text-orange-grungy-vintage-round-stamp-rubber-233227151.jpg");
  background-size: cover;
  color: transparent;
}

#norms:hover {
  background-image: none;
  color: black;
}

#aggression {
  flex: 0 1 22%;
  text-align: right;
  margin-top: 25px;
  background-color: lightsteelblue;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  font-size: large;
  background-image: url("https://healthmatters.nyp.org/wp-content/uploads/2020/11/what-is-a-microaggression-thumbnail-1.jpg");
  background-size: contain;
  color: transparent;
}

#aggression:hover {
  background-image: none;
  color: black;
}

#hover {
  text-align: center;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsteelblue;
  font-size: 50px;
}

#microagressions {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: large;
  background-color: lightgray;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  padding: 10px;
}

#change {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-size: large;
  background-color: lightgray;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  padding: 10px;
  margin-top: -15px;
}

#change:hover {
  cursor: pointer;
  background-color: gainsboro;
}

#title {
  text-align: center;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsteelblue;
  font-size: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
}

#quotes {
  flex: 0 1 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  padding: 10px;
  background-color: lightsteelblue;
  -webkit-animation: flash 1.5s infinite;
  -moz-animation: flash 1.5s infinite;
  -o-animation: flash 1.5s infinite;
  animation: flash 1.5s infinite;
}

#code {
  flex: 0 1 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  padding: 10px;
  -webkit-animation: flashTwo 1.5s infinite;
  -moz-animation: flashTwo 1.5s infinite;
  -o-animation: flashTwo 1.5s infinite;
  animation: flashTwo 1.5s infinite;
}

#crimeSum {
  flex: 0 1 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  padding: 10px;
  padding-top: 15px;
  background-color: lightgray;
}

#crimeImg {
  flex: 0 1 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 300px;
  width: 475px;
}

#movingForward {
  flex: 0 1 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#forward {
  flex: 0 1 45%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  border-radius: 10px;
  -moz-border-radius: 10px 20px 30px 0;
  padding: 10px;
  padding-top: 15px;
  background-color: lightsteelblue;
}

@-webkit-keyframes flash {
  0%,
  49% {
    background-color: lightgray;
    border: 3px solid lightsteelblue;
  }
  50%,
  100% {
    background-color: lightsteelblue;
    border: 3px solid lightgray;
  }
}

@-webkit-keyframes flashTwo {
  0%,
  49% {
    background-color: lightsteelblue;
    border: 3px solid lightgray;
  }
  50%,
  100% {
    background-color: lightgray;
    border: 3px solid lightsteelblue;
  }
}
