html {
  height: 100%;
}
body {
  height: 100%;
  font-family: amongus;
  background-image: url("https://cdn131.picsart.com/341608237014211.png");
  background-size: cover;
}

a:link {
  color: lightskyblue;
}
a:visited {
  color: red;
}
a:hover::before,
a:focus::before,
a:active::before {
  content: "";
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-image: url("https://media4.giphy.com/media/XMgq4wclEITQjivNeV/giphy.gif");
  color: red;
}

h1 {
  font-family: amongus-title;
  text-transform: uppercase;
  color: white;
  text-align: center;
  font-size: 50px;
}
header h2 {
  font-family: amongus-title;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

footer {
  margin-top: -17px;
  background-color: white;
}

@font-face {
  font-family: amongus;
  src: url(Resources/amongus.ttf);
}

@font-face {
  font-family: amongus-title;
  src: url(Resources/AmongUs-Regular.ttf);
}

h3 {
  font-family: amongus-title;
  text-transform: uppercase;
}

header {
  line-height: 100px;
  background-image: url("https://akm-img-a-in.tosshub.com/indiatoday/images/story/202012/among-us-wallpaper_1200x768.jpeg?i8KMl2.2TeS0rKa4Bc1aSDxef_75cj16&size=1200:675");
}

#zen-explanation {
  background-image: url("Resources/chatone.png");
  background-position: center center;
  background-size: cover;
  height: 170px;
  width: 1080px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  display: block;
  padding-top: 5px;
  padding-left: 200px;
  padding-right: 220px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
}

#zen-participation {
  background-image: url("Resources/chattwo.png");
  background-position: center center;
  background-size: cover;
  height: 170px;
  width: 1080px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  display: block;
  padding-top: 5px;
  padding-left: 200px;
  padding-right: 220px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  line-height: 15px;
  margin-top: 50px;
}

#zen-requirements {
  background-image: url("https://c.tenor.com/IIRztzf3eLoAAAAd/among-us-upload.gif");
  background-size: cover;
  height: 700px;
  width: 1200px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
  color: black;
  font-size: large;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

#zen-benefits {
  background-image: url("Resources/chatone.png");
  background-position: center center;
  background-size: cover;
  height: 170px;
  width: 1080px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  display: block;
  padding-top: 5px;
  padding-left: 200px;
  padding-right: 220px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 50px;
}

/* Hiding text and displaying image*/
#zen-preamble {
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("https://d1lss44hh2trtw.cloudfront.net/assets/editorial/2020/09/emergency-meeting-red-button-among-us.jpg");
  height: 375px;
  width: 667px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: transparent;
}

/* Displaying new image and text on hover */
#zen-preamble:hover {
  background-image: url("https://i.redd.it/iuw23pelpy561.png");
  height: 300px;
  width: 1000px;
  background-size: cover;
  text-indent: 0%;
  white-space: normal;
  overflow: auto;
  padding-top: 250px;
  justify-content: center;
  vertical-align: middle;
  color: black;
  text-align: center;
  font-size: large;
}

/* Hiding text and displaying vent image*/
#design-selection {
  margin-top: 50px;
  text-indent: 1000%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url("http://pixelartmaker-data-78746291193.nyc3.digitaloceanspaces.com/image/b6ea0c8e6895dc2.png");
  height: 400px;
  width: 600px;
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: transparent;
}

/* Displaying text when hovering over vent image*/
#design-selection:hover {
  color: black;
  background-image: url("Resources/openvent.png");
  background-size: cover;
  height: 600px;
  width: 700px;
  text-indent: 0%;
  white-space: normal;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
}

#zen-summary {
  background-image: url("https://cdn.vox-cdn.com/thumbor/mCze0k6_0Bv5YMVQHk80zXi2ciI=/1400x1050/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22136080/ss_a0f2416e11bf5b47788eaa3617e092b73962b145.jpg");
  width: 700px;
  height: 525px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  color: white;
  align-items: flex-end;
  font-size: large;
  margin-bottom: 75px;
  margin-top: 50px;
  text-align: center;
  text-indent: 10px;
}

#design-archives {
  margin-top: 50px;
  padding-top: 23px;
  height: 509px;
  width: 453px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 65px;
  line-height: 14px;
  color: white;
  background-size: cover;
  display: block;
  background-image: url("https://steamlists.com/wp-content/uploads/2020/11/21_Among-Us-HOW-TO-MASTER-ALL-OF-THE-TASKS-ON-THE-SKELD-steamlists-com.png");
}

#zen-resources {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-size: cover;
  color: white;
  height: 540px;
  width: 960px;
  background-image: url("https://airentertainment.biz/wp-content/uploads/2020/08/Among-Us-17_08_2020-20_02_24.png");
  margin-left: auto;
  margin-right: auto;
}

.resources {
  padding-bottom: 60px;
}

.select {
  padding-bottom: 60px;
}

footer {
  padding-top: 130px;
  font-size: 50px;
  display: flex;
  text-indent: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  background-size: cover;
  background-image: url("Resources/med_bay.jpg");
  width: 1000px;
  height: 450px;
}
